.card {
    padding: 5px;
    width: 33.333%;
}

.cardItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid;
    padding: 15px;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 575px) {
    .card {
        width: 100%;
    }
}